<section class="reset-password">
    <form [formGroup]="form">
      <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-2 form-wrapper clearfix">
        <div class="col-lg-12 input-wrapper clearfix">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
            </div>
            <input 
              id="userName" 
              formControlName="userLoginId" 
              name="loginId" 
              type="text" 
              class="form-control"
              aria-label="Username" 
              aria-describedby="Username"
              placeholder="Email address or phone number">
          </div>
        </div>
        <div class="col-lg-12 input-wrapper clearfix">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
            </div>
            <input 
              id="password" 
              formControlName="password" 
              name="password" 
              [type]="showPassword ? 'text' : 'password'"
              class="form-control" 
              aria-label="Password" 
              aria-describedby="Password"
              placeholder="Password">
          </div>
        </div>
        <div class="col-lg-12 input-wrapper clearfix">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
              </div>
              <input 
                id="confPassword" 
                formControlName="confPassword" 
                name="confPassword" 
                [type]="showPassword ? 'text' : 'password'"
                class="form-control" 
                aria-label="Confirm Password" 
                aria-describedby="confirm password"
                placeholder="Cofirm Password">
            </div>
          </div>
        <div id ="password-match" *ngIf="!isPassMatched" [ngClass]="!isPassMatched ? 'updated-match-password-label': ''">
            <p>password doesn't match</p>
        </div>
        <div class="col-lg-12 input-wrapper center-item-wrapper clearfix">
          <button 
          [disabled]="!form.valid" 
          class="btn input-block-level login-btn hover-shadow" 
          (click)="resetPassword()">
          Reset Password
        </button>
        </div>
      </div>
    </form>
  </section>